.widget
  .widget-title
    i.fa.fa-external-link= ' ' + __('blogroll')
  - var links = config.links || theme.links
  if links
    ul
      - for (var i in links)
        li.link-item
          a.link-title(href=links[i].url, title=links[i].desc || links[i].title, target='_blank')
            if links[i].src
              img.link-src.no-fancybox(src=links[i].src, alt=links[i].title)
            span.link-name #{links[i].title}